body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #642708;
}

article {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FBF7E3;
    border-radius: 30px;
}

h1 {
    margin-top: 2em;
    margin-bottom: 0.2em;
    padding-left: 0.7em;
}

p{
    padding: 0 1em;
    margin-bottom: 1.5em;
}

div#img {
    width: 92%;
    overflow: hidden;
    text-align: center;
    margin-bottom: 30px;
    padding: 0 1em;

}

img {
    object-fit: cover;
    width: 100%;
    text-align: center;
}