body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #642708;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FBF7E3;
    border-radius: 55px;
    padding: 10px;
}

img#logo {
    width: 45px;
    height: 45px;
}

div.shop {
    display: flex;
    font-size: 1.5em;
    flex-direction: row;
    justify-content: space-around;
    width: 125px;
    align-items: center;
    border-radius: 40px;
}

nav div {
    background-color: #F3DF85;
    border-radius: 30px;
    padding: 0 10px;
}